*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
   margin-top: 60px;
}
.footercontainer{
    width: 100%;
    padding: 20px 10px 10px;
}
.socialicons{
    display: flex;
    justify-content: center;
    
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: #14d52b;
    margin: 5px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 1em;
    opacity: 0.8;
}
.socialicons a:hover{
    background-color: transparent;
    transition: 0.5s;
}
.socialicons a:hover i{
    background-color: transparent;
    transition: 0.5s;
}
.socialicons a i:hover{
    background-color: #fff;
    transition: 0.5s;
}
.footernav{
    margin: 15px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
    color: #0b0a0a;
}
.footerbottom{
    padding: 3px;
    text-align: center;
}
.footerbottom p{
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url(assets/BG.jpg);
    background-size: cover;
}

.logo-with-text {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
    margin-top: 3px;
    margin-left: 10px;
}

.text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.container {
    background-color: transparent;
    padding: 1%;
}
.container nav .lists {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -50px;
}

.container nav .lists ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.container nav .lists ul li {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
    margin-right: 5px;
    margin-left: 5px;
}

.container nav .lists ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    transition: 500ms;
}

.container nav .lists ul .active a,
.container nav .lists ul li:hover a {
    color: rgb(9, 174, 234);
    transition: 500ms;
}

.content {
    width: 100%;
    height: calc(100vh-90vh);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content h1 {
    width: 120%;
    color: rgb(50, 53, 53);
    font-size: 35px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin-top: 75px;
    text-transform: uppercase;
    margin-left: 10px;
}

.content p {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-left: 10px;
}

.content .btns {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.content button {
    width: 45%;
    height: 60px;
    border: 2px solid #0d0c0c;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    background: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-top: 15px;
    transition: 600ms;
}

.content button:first-child {
    background: transparent;
    border-color: #0f100f;
}

.content button:hover {
    background: rgb(10, 135, 225);
    transition: 800ms;
}

.content button:first-child:hover {
    background: #0e99d4;
    color: #fff;
}

.image__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-content: center;
}

.image__container img {
    width: 100%;
    max-width: 350px;
    margin: 100px;
    border-radius: 10px;
    margin-left: -5%;
    margin-right: 20%;
}

.image__container img:nth-child(1) {
    transform: translateY(130px);
}

.image__container img:nth-child(2) {
    transform: translateY(-50px);
}

.signin-btn {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0b9fda;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3ms;
    border-color: #0b0d0b;
}

.btn:hover {
    background-color: #fff;
}
 